@model Senalai.Models.Sexo

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Sexo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreSexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreSexo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", null, new { id = Model.SexoID }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
</p>
